{% extends "../../base_brython.html" %}

{% block webapp %}
<div class="c w100 nam">
  <label for="namlamviec" class="u fb f7">HỒ SƠ KHÁCH HÀNG NĂM</label>
  <select id="namlamviec" class="u fb f7" onchange="otim.namlamviec=this.value">
    <option value="2021">2021</option>
    <option value="2020" selected>2020</option>
    <option value="2019">2019</option>
    <option value="2018">2018</option>
    <option value="2017">2017</option>
  </select>
</div>
<div class="stim w100">
  {% set url_img=static_url('images/searchicon.png') %}
  <input type="text" class="w100" placeholder="tìm không phân biệt chữ hoa, chữ thường" id="stim"
    style="background-image:url({{url_img}})">
  <div class="w100">
    <button type="button">
      <i class="fa fa-trash"></i>
    </button>
  </div>
  <div class="flex ba" id="view-otim">
    <button type="button" id="">
      <i class="fa fa-trash"></i>
    </button>
  </div>
</div>
<div id="info">
</div>
{% end %}

{% block css %}
<link rel="stylesheet" href="{{static_url('css/forms/hoso.css')}}" type="text/css">
{% end %}

{% block py %}
<script type="text/python" id="base_tam" src="{{static_url('py/forms/hoso/tam.py')}}"></script>
<script type="text/python" class="webworker" id="base:xac" src="{{static_url('py/forms/hoso/xac.py')}}"></script>
{% end %}