{% extends "../../base_nunjucks.html" %}

{% block webapp %}
  <div class="c w100 nam">
    <label for="namlamviec" class="u fb f7">HỒ SƠ KHÁCH HÀNG NĂM</label>
    <select id="namlamviec" class="u fb f7" onchange="otim.namlamviec=this.value">
      <option value="2021">2021</option>
      <option value="2020" selected>2020</option>
      <option value="2019">2019</option>
      <option value="2018">2018</option>
      <option value="2017">2017</option>
    </select>
  </div>
  <div class="stim w100">
    <input type="text" class="w100"
    placeholder="Tìm không phân biệt chữ hoa, chữ thường" id="stim"
    onkeyup="stim_keyup(this)" style="background-image:url({{static_url('images/searchicon.png')}})">
    <div class="w100">
      <button type="button" onclick="clear_otim()">
        <i class="fa fa-trash"></i>
      </button>
      <div class="flex ba" id="view-otim">
        <button type="button" onclick="del_element(this.id)" id="">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
{% end %}

{% block css %}
<link rel="stylesheet" href="{{static_url('css/forms/hoso.css')}}" type="text/css">
{% end %}
{% block js %}
<script type="text/javascript" src="{{static_url('js/forms/hoso/main.js')}}"></script>
{% end %}