<div class="grid panel-qtgt">
  <div class="combobox hoso">
    <label for="hoso">Hồ sơ</label>
    <input type="text" id="hoso" value="" data-utcid="0" data-ma="">
  </div>
  <div class="nam">
    <label for="namlamviec">Năm</label>
    <select id="namlamviec" onchange="otim.namlamviec=this.value">
      <option value="2021">2021</option>
      <option value="2020" selected>2020</option>
      <option value="2019">2019</option>
      <option value="2018">2018</option>
      <option value="2017">2017</option>
    </select>
  </div>
  <div class="plqt">
    <label for="plqt">PlQt</label>
    <select id="plqt" onchange="otim.plqt=this.value">
      <option value="">Không chọn</option>
      <option value="GMMP" selected>GMMP</option>
      <option value="GMDT">GMĐT</option>
      <option value="TLMP">TLMP</option>
      <option value="TLDT">TLĐT</option>
      <option value="VCTY">VCTY</option>
    </select>
  </div>
  <div class="combobox dvtc">
    <label for="dvtc">Đvtc</label>
    <input type="text" id="dvtc" value=0 data-utcid="0" data-ma="">
  </div>
  <div class="combobox dot">
    <label for="dot">Đợt</label>
    <input type="text" id="dot" value="" data-utcid="0" data-ma="">
  </div>
  <div class="combobox qtgt">
    <label for="qtgt">Qtgt</label>
    <input type="text" id="qtgt" value="" data-utcid="0" data-ma="">
  </div>
</div>