{% extends "../../base_d3.html" %}

{% block css %}
<link rel="stylesheet" href="{{static_url(r'css/forms/qtgt.css')}}" type="text/css">
{% end %}

{% block js %}
<script type="module" src="{{static_url(r'js/forms/qtgt.js')}}"></script>
{% end %}

{% block panel %}
<div class="c u fb f6">QUYẾT TOÁN GIÁ TRỊ</div>
<div></div>
{% end %}

{% block menu %}
<details id="forms">
  <summary class="l fb f1">Biểu mẫu (forms)</summary>
  <a href="https://localhost:8888/pkh/forms/a" target="_blank">Ho so khach hang</a>
</details>
<details id="reports">
  <summary class="l fb f1">Báo biểu (reports)</summary>
  <div>
    <a href="https://localhost:8888/pkh/reports/qtvt" target="_blank">Quyết toán đợt vật tư</a>
  </div>
  <div>
    <a href="https://localhost:8888/pkh/reports/tonghop/dotvl" target="_blank">Bth quyết toán vật liệu (giá)</a>
  </div>
  <div>
    <a href="https://localhost:8888/pkh/reports/tonghop/dotklvl" target="_blank">Bth quyết toán vật liệu (khối
      lượng)</a>
  </div>
  <div>
    <a href="https://localhost:8888/pkh/reports/tonghop/dotqtgt" target="_blank">Bth đợt Qtgt</a>
  </div>
  <div>
    <a href="https://localhost:8888/pkh/reports/qtgt" target="_blank">Quyết toán giá trị</a>
  </div>
</details>
{% end %}

{% block webapp %}
<section id="hoso">

</section>
<section id="ongcai">
  <div class="grid ongcai">
    <div class="l u fb">Phần ống cái</div>
    <div class="l">Vl</div>
    <div class="r" id="oc_zvl">1</div>
    <div class="l">Nc</div>
    <div class="r" id="oc_znc">1</div>
    <div class="l">Mtc</div>
    <div class="r" id="oc_zmtc">1</div>
  </div>
  <table id="oc_cpxd"></table>
  <table id="oc_cpvt"></table>
  <table id="oc_cpvl"></table>
</section>

<section id="ongnganh">
  <div class="grid ongnganh">
    <div class="l u fb">Phần ống ngánh</div>
    <div class="l">Vl</div>
    <div class="r" id="on_zvl">1</div>
    <div class="l">Nc</div>
    <div class="r" id="on_znc">1</div>
    <div class="l">Mtc</div>
    <div class="r" id="on_zmtc">1</div>
  </div>
  <table id="on_cpxd"></table>
  <table id="on_cpvt"></table>
  <table id="on_cpvl"></table>
</section>

<section id="tlmd">
  <div class="grid tlmd">
    <div class="l u fb">Tái lập mặt đường</div>
    <div class="l">Ống cái</div>
    <div class="r" id="oc_ztl">1</div>
    <div class="l">Ống ngánh</div>
    <div class="r" id="on_ztl">1</div>
  </div>
  <table id="cptl"></table>
</section>

<section id="cpql">

  <table id="cpql1">
    <tr>
      <td id='test'>
        <input type="text" value='test'>
        <table id="chiphi1"></table>
      </td>
      <td>dvt</td>
    </tr>
  </table>

</section>

{% end %}
