@charset "UTF-8";

*,
*:before,
*:after {
  box-sizing: border-box;
  background-color: transparent;
  color: black;
}

/* Works on Firefox */
* {
  scrollbar-width: 8px;
  scrollbar-color: red transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
  border: 1px solid #a9a9a9;
}

@import url("./font_Opensans.css");
@import url("./font_UVNTintuc.css");

html,
body {
  font-family: "Open Sans", "Open Sans Condensed", "UVN Tin Tuc Hep",
    "UVN Tin Tuc Hep Them", sans-serif;
  /* font-size: 16pt; */
  margin: 0;
  border: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  float: none;
  display: block;
}

/* tetx */
.l {
  text-align: left;
  padding: 1pt;
}

.r {
  text-align: right;
  padding: 1pt;
}

.c {
  text-align: center;
  top: 50%;
  padding: 1pt;
}

.j {
  text-align: justify;
  text-justify: inter-word;
  padding: 1pt;
}

.u {
  text-transform: uppercase;
}

/* font */
.fb {
  font-weight: bold;
}

.fi {
  font-style: italic;
}

.fu {
  text-decoration: underline;
}

.fc {
  font-stretch: semi-condensed;
}

.fc1 {
  font-stretch: condensed;
}

.fc2 {
  font-stretch: extra-condensed;
}

.fc3 {
  font-stretch: ultra-condensed;
}

.f-3 {
  font-size: calc(1rem - 3pt);
}

.f-2 {
  font-size: calc(1rem - 2pt);
}

.f-1 {
  font-size: calc(1rem - 1pt);
}

.f1 {
  font-size: calc(1rem + 1pt);
}

.f2 {
  font-size: calc(1rem + 2pt);
}

.f3 {
  font-size: calc(1rem + 3pt);
}

.f4 {
  font-size: calc(1rem + 4pt);
}

.f5 {
  font-size: calc(1rem + 5pt);
}

.f6 {
  font-size: calc(1rem + 6pt);
}

.f7 {
  font-size: calc(1rem + 7pt);
}

.f8 {
  font-size: calc(1rem + 8pt);
}

.f9 {
  font-size: calc(1rem + 9pt);
}

/* chieu cao */
.c3 {
  height: calc(1rem + 3pt);
  padding-top: 2pt;
  padding-bottom: 2pt;
}

.c6 {
  height: calc(1rem + 6pt);
  padding-top: 3pt;
  padding-bottom: 3pt;
}

.c9 {
  height: calc(1rem + 9pt);
  padding-top: 3pt;
  padding-bottom: 3pt;
}

.c12 {
  height: calc(1rem + 12pt);
  padding-top: 3pt;
  padding-bottom: 3pt;
}

.c18 {
  height: calc(1rem + 18pt);
  padding-top: 3pt;
  padding-bottom: 3pt;
}

.h1px {
  height: 1px;
}

.w100 {
  width: 100%;
}

/* word break */
.wb {
  word-break: break-all;
}

/* border */
.b0 {
  border: 0;
}

.ba,
.btrbl {
  border: 1px solid black;
}

.btl {
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 1px;
}

.btrl {
  border-style: solid;
  border-color: black;
  border-width: 1px 1px 0 1px;
}

.btbl {
  border-style: solid;
  border-color: black;
  border-width: 1px 0 1px 1px;
}

.brbl {
  border-style: solid;
  border-color: black;
  border-width: 0 1px 1px 1px;
}

.brl {
  border-style: solid;
  border-color: black;
  border-width: 0 1px 0 1px;
}

.bt {
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
}

.bb {
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
}

.bbr {
  border-style: solid;
  border-color: black;
  border-width: 0 1px 1px 0;
}

.bbl {
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 1px;
}

.bl {
  border-style: solid;
  border-color: black;
  border-width: 0 0 0 1px;
}

.hov:hover {
  background-color: #999fff;
}

.hov1:hover {
  background-color: lightgreen;
}

.hide,
.an,
.dau,
.che {
  display: none;
}

.flex {
  display: flex;
}

.fat {
  flex: 1 1 0%;
}

.grid {
  display: grid;
}

input {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
}

#trangxem {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 15vh 1fr;
  overflow: hidden;
}

#trangxem header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background: #f0e68c;
  display: flex;
  justify-content: space-between;
}

#trangxem nav {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background: #c0c0c0;
}

#trangxem main {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background: transparent;
  overflow: auto;
}

#trangxem footer {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  background: lightyellow;
}

.keep {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.A4doc {
  display: flex;
  break-after: always;
  background: green;
}

.A4ngang {
  display: flex;
  break-after: always;
}

/*210mm=595.275pt => trangin= 555pt */
.trangin {
  margin-left: 20pt;
  margin-right: 20pt;
  margin-top: 20pt;
  margin-bottom: 20pt;
  line-height: 1.05;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  background: white;
}

@media print {

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    background-color: transparent;
    color: black;
  }

  .A4doc {
    width: 210mm;
    height: 297mm;
    background: transparent;
  }

  .A4ngang {
    width: 297mm;
    height: 210mm;
    background: transparent;
  }
}

@media screen {
  .test,
  .mau {
    border: 1px solid green;
    border-radius: 10px;
    background: yellow;
  }
}
