@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
  background-color: transparent;
  color: black;
}

@import url('./font_Opensans.css');
@import url('./font_UVNTintuc.css');
html, body {
  font-family: "Open Sans", "Open Sans Condensed", "UVN Tin Tuc Hep", "UVN Tin Tuc Hep Them", sans-serif;
  /* font-size: 16pt; */
  margin: 0;
  border: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  float: none;
  display: block;
}

/* tetx */

.l {
  text-align: left;
  padding: 1pt;
}

.r {
  text-align: right;
  padding: 1pt;
}

.c {
  text-align: center;
  padding: 1pt;
}

.j {
  text-align: justify;
  text-justify: inter-word;
  padding: 1pt;
}

.u {
  text-transform: uppercase;
}

/* font */

.fb {
  font-weight: bold;
}

.fi {
  font-style: italic;
}

.fu {
  text-decoration: underline;
}

.fc {
  font-stretch: semi-condensed;
}

.fc1 {
  font-stretch: condensed;
}

.fc2 {
  font-stretch: extra-condensed;
}

.fc3 {
  font-stretch: ultra-condensed;
}

.f-2 {
  font-size: calc( 1rem - 2pt);
}

.f-1 {
  font-size: calc( 1rem - 1pt);
}

.f1 {
  font-size: calc( 1rem + 1pt);
}

.f2 {
  font-size: calc( 1rem + 2pt);
}

.f3 {
  font-size: calc( 1rem + 3pt);
}

.f4 {
  font-size: calc( 1rem + 4pt);
}

.f5 {
  font-size: calc( 1rem + 5pt);
}

.f6 {
  font-size: calc( 1rem + 6pt);
}

/* chieu cao */

.c3 {
  height: calc( 1rem + 3pt);
  padding-top: 2pt;
}

.c6 {
  height: calc( 1rem + 6pt);
  padding-top: 3pt;
}

.h1px {
  height: 1px;
}

.w100 {
  width: 100%;
}

/* word break */

.wb {
  word-break: break-all;
}

/* border */

.b0 {
  border: 0;
}

.ba, .btrbl {
  border: 1px solid black;
}

.btl {
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 1px;
}

.btrl {
  border-style: solid;
  border-color: black;
  border-width: 1px 1px 0 1px;
}

.btbl {
  border-style: solid;
  border-color: black;
  border-width: 1px 0 1px 1px;
}

.brbl {
  border-style: solid;
  border-color: black;
  border-width: 0 1px 1px 1px;
}

.brl {
  border-style: solid;
  border-color: black;
  border-width: 0 1px 0 1px;
}

.bb {
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
}

.bbr {
  border-style: solid;
  border-color: black;
  border-width: 0 1px 1px 0;
}

.bbl {
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 1px;
}

.bl {
  border-style: solid;
  border-color: black;
  border-width: 0 0 0 1px;
}

.hov:hover {
  background-color: yellow;
}

.hov1:hover {
  background-color: lightgreen;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.fat {
  flex: 1 1 0%;
}

.grid {
  display: grid;
}

#trangxem {
  width: 100vw;
  height: 100vh;
}

.keep {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.A4doc {
  width: 210mm;
  height: 297mm;
  display: flex;
  break-after: always;
  background: green;
}

.A4ngang {
  width: 297mm;
  height: 210mm;
  display: flex;
  break-after: always;
}

/*210mm=595.275pt => trangin= 555pt */

.trangin {
  margin-left: 20pt;
  margin-right: 20pt;
  margin-top: 20pt;
  margin-bottom: 20pt;
  line-height: 1.05;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  background: white;
}

@media print {
  *, *:before, *:after {
    box-sizing: border-box;
    background-color: transparent;
    color: black;
  }
  .A4doc {
    width: 210mm;
    height: 297mm;
    background: transparent;
  }
  .A4ngang {
    width: 297mm;
    height: 210mm;
    background: transparent;
  }
}

@media screen {
  .test {
    border: 1px solid black;
    background: yellow;
  }
}