@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
  background-color: transparent;
}

@import url('./font_Opensans.css');
@import url('./font_UVNTintuc.css');
body {
  font-family: "Open Sans Condensed", "Open Sans", "UVN Tin Tuc Hep Them", "UVN Tin Tuc Hep", sans-serif;
  font-size: 8pt;
  margin: 0;
  border: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  float: none;
  display: block;
}

.khungA4 {
  width: 210mm;
  height: 297mm;
  break-after: always;
}

/*210mm=595.275pt => trangin= 555pt */

.trangin {
  margin-left: 20pt;
  margin-right: 20pt;
  margin-top: 20pt;
  margin-bottom: 20pt;
  line-height: 1.05;
}

.quochuy {
  font-size: 9pt;
  letter-spacing: 0.1em;
}

.trangtri {
  font-size: 7pt;
}

h6{
  font-size: 9pt;
}
h5{
  font-size: 10pt;
}
h4{
  font-size: 11pt;
}
h3{
  font-size: 12pt;
}
h2{
  font-size: 13pt;
}
h1{
  font-size: 14pt;
}
.text-left {
  text-align: left;
  padding: 1pt;
}

.text-right {
  text-align: right;
  padding: 1pt;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
  padding: 1pt;
}
.font-bold{
  font-weight: 700;
}
@media print {
  .khungA4 {
    width: 210mm;
    height: 297mm;
    break-after: always;
    margin: 0;
    border: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    float: none;
    background: transparent;
  }
}