<!DOCTYPE html>
<html lang='vi'>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Phòng kế hoạch-{{ escape(handler.settings["webapp_title"]) }}</title>
  <link rel="stylesheet" href="{{static_url('css/fontawesome.5.11.2.all.css')}}" type="text/css">
  <link rel="stylesheet" href="{{static_url('css/base.css')}}" type="text/css">
  {% block cdn %}{% end %}
  {% block css %}{% end %}
</head>

<body>
  <div id="trangxem" class="l w100">
    <header>
      <img src="{{ static_url('favicon.png')}}" height="30" alt="logo">
      {% module xsrf_form_html() %}
      {% block panel %}{% end %}
    </header>
    <nav>
      {% block menu %}{% end %}
    </nav>
    <main id="webapp">{% block webapp %}{% end %}</main>
    <footer>
      Footer
      <ol id="tiendo">
        <li id="oc_cpvt">
          <progress id="file" value="32" max="100"> 32% </progress>
          <div>Ong cai cpvt</div>
        </li>
        <li id="oc_cpvl">
          <progress id="file" value="50" max="100"> 50% </progress>
          <div>Ong cai cpvl</div>
        </li>
      </ol>
    </footer>
  </div>
  <!-- script  -->
  <script type="module" src="{{static_url('js/refs/d3.min.js')}}"></script>
  {% block js %}{% end %}
  {% block py %}{% end %}
</body>

</html>