<!DOCTYPE html>
<html lang='vi'>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Phòng kế hoạch-{{ escape(handler.settings["webapp_title"]) }}</title>
  <link rel="stylesheet" href="{{ static_url("css/base.css") }}" type="text/css">
  <link rel="stylesheet" href="{{ static_url("css/fontawesome.5.11.2.all.css") }}" type="text/css">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" type="text/css">
  {% block cdn %}{% end %}
  <link rel='icon' type='image/png' href="{{ static_url("favicon.png") }}">
  {% block css %}{% end %}
</head>

<body>
  <div id="trangxem" class="flex flex-col h-screen w-screen">
    <div class="flex-grow w-full border-black">
      <div class="flex flex-row w-full h-full">
        <nav class="sm:flex-auto md:flex-none border-red">
          {% if current_user %}
          <a href="/auth/logout?next={{ url_escape(request.uri) }}">{{ _("Sign out") }}</a>
          {% else %}
          <a href="/auth/login">{{ _("Sign in") }}</a>
          {% end %}
          Menu
          {% block menu %}{% end %}
        </nav>
        <main class="md:flex-auto bg-gray-200 border-red">
          App main
          {% block app %}{% end %}
        </main>
      </div>
    </div>
    <div class="flex-none w-full bg-blue-200">
      {% module xsrf_form_html() %}
      Footer
      {% block footer %}{% end %}
    </div>
  </div>
  <!-- script  -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  {% block js %}{% end %}
</body>

</html>