<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Phòng kế hoạch-{{ escape(handler.settings["webapp_title"]) }}</title>
  <link rel="stylesheet" href="{{ static_url("css/base.css") }}" type="text/css">
  <link rel="stylesheet" href="{{ static_url("css/bootstrap.css") }}" type="text/css">
  <link rel="stylesheet" href="{{ static_url("css/fontawesome.5.11.2.all.css") }}" type="text/css">
  {% block cdn %}{% end %}
  {% block css %}{% end %}
</head>

<body>
  <div id="trangxem" class="d-flex flex-column align-items-stretch vw-100 vh-100 m-0 p-0 bg-transparent d-print-none">
    <div id="panel" class="flex-grow-0 w-100 m-0 p-0 bg-warning">
      panel
      {% block panel %}{% end %}
    </div>
    <div class="flex-grow-1 w-100 m-0 p-0">
      <div class="row w-100 h-100 m-0 p-0">
        <div id="menu" class="col-auto bg-transparent h-100 m-0 p-0">
          menu
          {% block menu %}{% end %}
        </div>
        <div id="app" class="col h-100 m-0 p-0 bg-transparent border border-dark">
          {% block app %}{% end %}
        </div>
      </div>
    </div>
    {% block url_ws %}{% end %}
  </div>
  <!-- script  -->
  <script src="{{ static_url("js/refs/axios.min.js") }}"></script>

  {% block js %}{% end %}
</body>

</html>