{% extends "base.html" %}

{% block js %}
<script src="{{ static_url("js/refs/jsstore.min.js") }}"></script>
<script src="{{ static_url("js/refs/jsstore.worker.min.js") }}"></script>
<script src="{{ static_url("js/hoso/menu.js") }}"></script>
<script src="{{ static_url("js/hoso/app.js") }}" type="module"></script>
{% end %}

{% block menu %}
<div id="menu" class="container h-100 m-0 p-1 col-auto">
  <div class="menu d-flex flex-column w-100 h-100 m-0 p-0">
    <div class="logo flex-grow-0 w-100 m-0 p-0">
      <nav class="navbar navbar-dark bg-dark m-0 p-0">
        <a class="navbar-brand" href="#">
          Phòng kế hoạch
        </a>
      </nav>
    </div>
    <div class="menu-form flex-grow-0 w-100 m-0 p-0">
      <div class="bg-light text-primary">
        <b>Báo biểu</b>
      </div>
      <nav class="navbar navbar-dark bg-secondary m-0 p-1">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-sign-in-alt mr-1"></i>Biểu 1</a>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-sign-in-alt mr-1"></i>Biểu 2</a>
            </a>
          </li>
      </nav>
    </div>
    <div class="menu-report flex-grow-1 w-100 m-0 p-0">
      <div class="bg-light text-primary">
        <b>In ấn</b>
      </div>
      <nav class="navbar navbar-dark bg-secondary m-0 p-1">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-sign-in-alt mr-1"></i>Biểu 1</a>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-sign-in-alt mr-1"></i>Biểu 2</a>
            </a>
          </li>
      </nav>
    </div>
    <div class="flex-grow-0 w-100 m-0 p-0">
      <nav class="navbar navbar-dark bg-dark m-0 p-1">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            {% if current_user %}
            <a class="nav-link" href="#">
              <i class="fa fa-sign-in-alt mr-1"></i>{{ _("Sign in") }}</a>
            </a>
            {% else %}
            <a class="nav-link" href="#">
              <i class="fa fa-sign-out-alt mr-1"></i>{{ _("Sign out") }}</a>
            {% end %}
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
{% end %}

{% block app %}
<main class="m-0 p-0 h-100 w-100">
  <input class="col" type="search" v-model="stim" @keyup="tim_keyup"
    placeholder="Tìm ... (không phân biệt chữ hoa hay thường)" />
  <div class="container-fluid" v-if="showotim">
    <div class="row">
      <div class="col border border-primary">
        vung otim {`JSON.stringify(otim)`}
      </div>
      <div class="col-auto">
        <button class="btn" @click="clear_otim">
          <i class="fa fa-trash"></i>
          Xóa lọc
        </button>
      </div>
    </div>
  </div>

  <hr class="border border-dark">
  <div class="container-fluid phantieude">
    <div class="row">
      <div class="col">
        <input class="truot-ngang col" type="range" min="0" :max="tongbang" step="1" v-model="curbang">
        <div class="row tieude bg-primary">
          <div class="col-md-1 crud">Act</div>
          <div class="col-md-1 mahoso"><b>Mã hồ sơ</b></div>
          <div class="col-md-1 sohoso"><b>Số hồ sơ</b></div>
          <div class="col-md-1 khachhang"><b>Khách hàng</b></div>
          <div class="col-md-2 diachi"><b>Địa chỉ lắp đặt</b></div>

          <div class="col-md-1 ngaygan"><b>Ngày gắn</b></div>
          <div class="col-md-1 ngayhoancong"><b>Ngày hoàn công</b></div>
          <div class="col-md-1 madot"><b>Mã đợt</b></div>
          <div class="col-md-1 sodot"><b>Số đợt</b></div>

          <div class="col-md-1 thongbao"><b>Thông báo</b></div>
          <div class="col-md-1 ghichu"><b>Ghi chú</b></div>
        </div>
      </div>
      <div class='truot-dung d-flex flex-column justify-content-between' style="width: 10px;">
        <div>
          <i class="fa fa-angle-up" @click=""></i>
        </div>
        <div>
          {`tin1trang`}
        </div>
        <div>
          <i class="fa fa-angle-down" @click=""></i>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid phannoidung">
    <div class="row">
      <div class="col">
        <div class="row noidung" v-for="(id, stt) in luid" :key="stt">
          <div v-if="ttdl[id].isedit">
            <div class="col-md-1 crud">
              <i class="fa fa-save" @click="saveHoso">{`stt + 1`}</i>
              <i class="fa fa-stop-circle" @click="ttdl[id].isedit = false">Bỏ</i>
            </div>
            <div class="col-md-1 mahoso">{`ttdl[id].hoso.mahoso`}</div>
            <div class="col-md-1 sohoso">{`ttdl[id].hoso.sohoso`}</div>
            <div class="col-md-2 khachhang">{`ttdl[id].khach.khachhang`}</div>
            <div class="col-md-1 diachi">{`ttdl[id].khach.diachi`}</div>
            <div class="col-md-1 ngaygan">{`ttdl[id].hoso.ngaygan`}</div>
            <div class="col-md-1 ngayhoancong">{`ttdl[id].hoso.ngayhoancong`}</div>
            <div class="col-md-1 madot">{`ttdl[id].dot.madot`}</div>
            <div class="col-md-1 sodot">{`ttdl[id].dot.sodot`}</div>
            <div class="col-md-1 thongbao">{`ttdl[id].hoso.thongbao`}</div>
            <div class="col-md-1 ghichu">{`ttdl[id].hoso.ghichu`}</div>
          </div>
          <div v-else>
            <div class="col-md-1 crud">
              <i class="fa fa-edit" @click=" ">{`stt + 1`}</i>
            </div>
            <div class="col-md-1 mahoso">{`ttdl[id].hoso.mahoso`}</div>
            <div class="col-md-1 sohoso">{`ttdl[id].hoso.sohoso`}</div>
            <div class="col-md-2 khachhang">{`ttdl[id].khachhang.khachhang`}</div>
            <div class="col-md-1 diachi">{`ttdl[id].khachhang.diachi`}</div>
            <div class="col-md-1 ngaygan">{`ttdl[id].hoso.ngaygan`}</div>
            <div class="col-md-1 ngayhoancong">{`ttdl[id].hoso.ngayhoancong`}</div>
            <div class="col-md-1 madot">{`ttdl[id].dot.madot`}</div>
            <div class="col-md-1 sodot">{`ttdl[id].dot.sodot`}</div>
            <div class="col-md-1 thongbao">{`ttdl[id].hoso.thongbao`}</div>
            <div class="col-md-1 ghichu">{`ttdl[id].hoso.ghichu`}</div>
          </div>

        </div>
      </div>
      <div class='truot-dung d-flex flex-column justify-content-between' style="width: 10px;">
        <div class="truot-dung flex-grow-1">
          <input class="h-100 w-100" type="range" min="0" :max="tongtin" step="1" v-model="curtin" style="-webkit-appearance: slider-vertical;
        transform: rotate(180deg);
        outline: none;">
        </div>
      </div>
    </div>
  </div>





  <hr class="border border-dark">
  <div class="container-fluid">
    <div> mahoso= {`mahoso`} oHoso= {`JSON.stringify(oHoso)`}</div>
    <div> makhachhang= {`makhachhang`} oKhach= {`JSON.stringify(oKhach)`}</div>
    <div> madot= {`madot`} oDot= {`JSON.stringify(oDot)`}</div>
    <div> ottdl= {`Object.keys(ottdl)`}</div>
    <div> ttdl= {`JSON.stringify(ttdl)`}</div>
  </div>
  <hr class="border border-dark">
  <div class="container-fluid">
    <div class="col-auto">
      <button class="btn btn-primary" @click="loadDot()">
        <i class="fa fa-add"></i>
        Add oDot
      </button>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" @click="loadKhach()">
        <i class="fa fa-add"></i>
        Add oKhach
      </button>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" @click="loadHoso">
        <i class="fa fa-add"></i>
        Add oHoso
      </button>
    </div>
  </div>
</main>
{% end %}