{% extends "base.html" %}

{% block js %}
<script src="{{ static_url("js/hoso/app.js") }}" type="module"></script>
<script src="{{ static_url("js/hoso/ndbang1.js") }}" type="module"></script>
{% end %}



{% block app %}
<main class="m-0 p-0 h-100 w-100 border border-primary">
  <div class='d-none'>{`url_worker="{{ static_url('js/clientdb/hoso_khachhang.js') }}"`}</div>
  <div class="phan-tim-kiem">
    <div class="row m-0 p-0">
      <input class="col" type="search" v-model="stim" @keyup="tim_keyup"
        placeholder="Tìm ... (không phân biệt chữ hoa hay thường)" />
    </div>
    <div class="row m-0 p-0">
      <div class="col border border-primary">
        vung otim {`JSON.stringify(otim)`}
      </div>

      <div class="col-1">
        <div class="container">
          <button class="btn btn-danger btn-small m-0" @click="clear_otim">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="phantieude">
    <div class="row p-0 m-0">
      <div class="col p-1 m-0">
        <input class="truot-ngang col" type="range" min="0" :max="tongbang" step="1" v-model="curbang">
        <div class="row p-0 m-0 tieude bg-secondary text-light">
          <div class="col-1 crud">
            <b>Mã hồ sơ</b>
            <br />
            <b>TT</b>
          </div>
          <div class="col-1 dvtc"><b>Đvtc</b></div>
          <div class="col-1 sodot"><b>Số đợt</b></div>
          <div class="col-1 sohoso"><b>Số hồ sơ</b></div>
          <div class="col-4 khachhang"><b>Khách hàng</b></div>
          <div class="col-4 diachi"><b>Địa chỉ lắp đặt</b></div>
        </div>
      </div>
      <div class='truot-dung d-flex flex-column justify-content-between' style="width: 20px;">
        <div>
          <button type="button" class="m-0 p-0 btn btn-sm" @click="tin1trang--">
            <i class="fa fa-angle-up"></i>
          </button>
        </div>
        <div>
          {`tin1trang`}
        </div>
        <div>
          <button type="button" class="m-0 p-0 btn btn-sm" @click="tin1trang++">
            <i class="fa fa-angle-down"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <hr style="border: 1px solid black;">
  <div class="phannoidung">
    <div class="row p-0 m-0">
      <div class="col p-1 m-0">
        <div class="w-100 p-0 m-0" v-for="(id, stt) in luid" :key="stt">
          <nd-bang1 rec="ttdl[id]" stt="stt"></nd-bang1>
        </div>
      </div>
      <div class='truot-dung col-auto d-flex flex-column justify-content-between' style="width: 20px;">
        <div class="truot-dung flex-grow-1">
          <input class="h-100 w-50" type="range" min="0" :max="tongtin" step="1" v-model="curtin" style="-webkit-appearance: slider-vertical;
        transform: rotate(180deg);
        outline: none;">
        </div>
      </div>
    </div>
  </div>
</main>
{% end %}