<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Phòng kế hoạch-test file</title>
  <link rel="stylesheet" href="{{static_url('css/tailwind.1.5.2.css')}}" type="text/css">
  <link rel="stylesheet" href="{{static_url('css/fontawesome.5.11.2.all.css')}}" type="text/css">
</head>

<body onload="brython({debug: 1, cache:false, indexedDB: true})">
  <div id="trangxem" class="w-screen h-screen m-0 p-0 bg-transparent d-print-none border-4 border-red-900">
    <div id="panel" class="flex w-full m-0 p-0 border border-red-900">
      <div id="logo" class="flex-none w-6 h-6 bg-transparent">
        <img class="object-cover w-full" src="{{static_url('logo.png')}}">
      </div>
      <div class="flex-auto">
        <div class="flex justify-end">
          <div class="text-teal-400 text-center bg-gray-400 p-px m-px">panel</div>
          <div class="text-teal-400 text-center bg-gray-400 p-px m-px">profile</div>
          <div class="text-teal-400 text-center bg-gray-400 p-px m-px">log out</div>
        </div>
      </div>
    </div>
    <div class="flex w-full h-full border border-blue-900">
      <div id="menu" class="flex-none w-1/6 m-0 p-0 bg-gray-700">
        menu
      </div>
      <div id="app" class="flex-auto m-0 p-0 bg-green-300">
        app
      </div>
    </div>
    <!-- script  -->

    <script type="text/javascript" src="{{static_url('js/refs/brython.js')}}"></script>
    <script type="text/python" src="{{static_url('py/base.py')}}" id="py_base"></script>
    <script type="text/python" src="{{static_url('py/cloudtags.py')}}" id="cloudtags"></script>
</body>


</html>