<!DOCTYPE html>
<html lang="en">

<head>
  <title>Indexed DB</title>
  <link rel="stylesheet" href="{{ static_url("css/base.css") }}" type="text/css">
  <link rel="stylesheet" href="{{ static_url("css/bootstrap.css") }}" type="text/css">
  <link rel="stylesheet" href="{{ static_url("css/fontawesome.5.11.2.all.css") }}" type="text/css">
</head>

<body>
  <div class="container d-flex justify-content-center">
    <div class="col-md-6 mt-5" id="app">
      <div class="input-group mb-5">
        <input type="text" class="form-control" type="text" v-model="futureNote" @keyup.enter="addNote">
        <span class="input-group-addon bg-primary text-white" @click="addNote">Add</span>
      </div>
      <ul class="list-group">
        <li class="list-group-item" v-for="note in notes">
          <span v-html="note.value.completed ? `<s>${note.value.content}</s>` : note.value.content"></span>
          <span @click="markComplete(note.id)">(mark complete)</span>
          <span @click="showNote(note.id)">(show)</span>
          <span @click="deleteNote(note.id)">(x)</span>
        </li>
      </ul>
    </div>
  </div>

</body>
<script src="{{ static_url("js/refs/vue.min.js") }}"></script>
<script src="{{ static_url("js/test/vue_indexdb.js") }}"></script>

</html>