.quochuy {
  width: 100%;
  grid: auto-flow minmax(1rem, max-content)/max-content 1fr max-content;
}

.tieudeqtgt {
  width: 100%;
  grid: auto-flow minmax(1rem, max-content)/max-content 1fr max-content minmax(max-content, 20pt);
}

main {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}


.ong-cai {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}



.cpql {
  grid: auto-flow minmax(1rem, max-content) / 335fr 100fr 70fr 50fr;
}

.cpql2 {
  grid: auto-flow minmax(1rem, max-content) / 335fr 100fr 70fr 50fr;
}