{% extends "../base_d3.html" %}

{% block css %}
<link rel="stylesheet" href="{{static_url(r'css/forms/qtgt.css')}}" type="text/css">
{% end %}

{% block js %}
<script type="module" src="{{static_url(r'js/test/ct.js')}}"></script>
{% end %}

{% block panel %}
<div class="c u fb f6">QUYẾT TOÁN GIÁ TRỊ</div>
{% end %}

{% block menu %}
<details id="forms">
  <summary class="l fb f1">Biểu mẫu (forms)</summary>
  <a href="https://localhost:8888/pkh/forms/qtgt" target="_blank">Ho so khach hang</a>
</details>
<details id="reports">
  <summary class="l fb f1">Báo biểu (reports)</summary>
  <div>
    <a href="https://localhost:8888/pkh/reports/qtvt" target="_blank">Quyết toán đợt vật tư</a>
  </div>
  <div>
    <a href="https://localhost:8888/pkh/reports/tonghop/dotvl" target="_blank">Bth quyết toán vật liệu (giá)</a>
  </div>
  <div>
    <a href="https://localhost:8888/pkh/reports/tonghop/dotklvl" target="_blank">Bth quyết toán vật liệu (khối
      lượng)</a>
  </div>
  <div>
    <a href="https://localhost:8888/pkh/reports/tonghop/dotqtgt" target="_blank">Bth đợt Qtgt</a>
  </div>
  <div>
    <a href="https://localhost:8888/pkh/reports/qtgt" target="_blank">Quyết toán giá trị</a>
  </div>
</details>
{% end %}

{% block webapp %}
<section id="qtgt" data-swidb="{{static_url(r'js/forms/qtgt/swidb.js',True)}}"
         data-swapi="{{static_url(r'js/forms/qtgt/swapi.js',True)}}"
         data-nv="{{static_url(r'js/test/nv.js',True)}}">
  <div class="grid hoso">
    <div id="qrcode">qrcode</div>
    <div id="barcode">barcode</div>
    <div><input id="in_mahoso" value='1' /></div>
    <div><input id="in_idhoso" value='1' /></div>
    <div><input id="in_sodot" value='1' /></div>
    <div><input id="in_sohoso" value='1' /></div>
    <div><input id="in_khachhang" value='1' /></div>
    <div><input id="in_diachi" value='1' /></div>
  </div>
  <ol class="vung_otim">
    <li class="l">
      <div class="">Năm</div>
      <div id="app_nam" class="l"></div>
    </li>
    <li class="l">
      <div class="c">Plqt</div>
      <div id="app_plqt" class="l"></div>
    </li>
    <li class="l">
      <div class="c">Đvtc</div>
      <div id="app_dvtc" class="l"></div>
    </li>
    <li class="l">
      <div class="c">Đợt</div>
      <div id="app_dot" class="l"></div>
    </li>
    <li class="l">
      <div class="c">Hồ sơ</div>
      <div id="app_hoso" class="l"></div>
    </li>
  </ol>
</section>
<section id="ongcai">
  <div class="grid ongcai">
    <div class="l u fb">Phần ống cái</div>
    <div class="l">Vl</div>
    <div class="r" id="oc_zvl">1</div>
    <div class="l">Nc</div>
    <div class="r" id="oc_znc">1</div>
    <div class="l">Mtc</div>
    <div class="r" id="oc_zmtc">1</div>
  </div>
  <div id="show_ongcai" class="w100">
    <ol id="oc_cpxd_tieude" class="grid qt3x">
      <li class="c tde">TT</li>
      <li class="c tde">Mô tả công tác</li>
      <li class="c tde">Đvt</li>
      <li class="c tde">Số lượng</li>
      <li class="c tde">Giá vật liệu</li>
      <li class="c tde">Giá nhân công</li>
      <li class="c tde">Giá mtc</li>
      <li class="c tde">Tiền vật liệu</li>
      <li class="c tde">Tiền nhân công</li>
      <li class="c tde">Tiền mtc</li>
    </ol>
    <ol id="oc_cpxd"></ol>
    <ol id="oc_cpxd_moi"></ol>
    <ol id="oc_cpvt_tieude" class="grid qt3x">
      <li class="c tde">TT</li>
      <li class="c tde">Mô tả vật tư</li>
      <li class="c tde">Đvt</li>
      <li class="c tde">Số lượng</li>
      <li class="c tde">Giá vật liệu</li>
      <li class="c tde">Giá nhân công</li>
      <li class="c tde">Giá mtc</li>
      <li class="c tde">Tiền vật liệu</li>
      <li class="c tde">Tiền nhân công</li>
      <li class="c tde">Tiền mtc</li>
    </ol>
    <ol id="oc_cpvt"></ol>
    <ol id="oc_cpvt_moi"></ol>
    <ol id="oc_cpvl_tieude" class="grid qt3x">
      <li class="c tde">TT</li>
      <li class="j tde">Mô tả vật liệu</li>
      <li class="c tde">Đvt</li>
      <li class="c tde">Số lượng</li>
      <li class="c tde">Giá vật liệu</li>
      <li class="c tde">Giá nhân công</li>
      <li class="c tde">Giá mtc</li>
      <li class="c tde">Tiền vật liệu</li>
      <li class="c tde">Tiền nhân công</li>
      <li class="c tde">Tiền mtc</li>
    </ol>
    <ol id="oc_cpvl"></ol>
  </div>

</section>
<section id="ongnganh">
  <div class="grid ongnganh">
    <div class="l u fb">Phần ống ngánh</div>
    <div class="l">Vl</div>
    <div class="r" id="on_zvl">1</div>
    <div class="l">Nc</div>
    <div class="r" id="on_znc">1</div>
    <div class="l">Mtc</div>
    <div class="r" id="on_zmtc">1</div>
  </div>
  <table id="on_cpxd"></table>
  <table id="on_cpvt"></table>
  <table id="on_cpvl"></table>
</section>
<section id="cpql">
  <header id="cpql_td" class="grid cpql">
    <div class="l u fb">Chi phí quản lý</div>
    <select id="ga_cpql" data-macpql="20200827">
      <option value="20200827" selected>20200827</option>
      <option value="20200721">20200721</option>
      <option value="7">7</option>
      <option value="6">6</option>
      <option value="5">5</option>
    </select>
    <div class="l">Ống cái</div>
    <div class="r" id="oc_tongxaydung">1</div>
    <div class="l">Ống ngánh</div>
    <div class="r" id="on_tongxaydung">1</div>
  </header>
  <div id="cpql_nd"></div>
</section>
<section id="tlmd">
  <div class="grid tlmd">
    <div class="l u fb">Tái lập mặt đường</div>
    <div class="l">Ống cái</div>
    <div class="r" id="oc_ztl">1</div>
    <div class="l">Ống ngánh</div>
    <div class="r" id="on_ztl">1</div>
  </div>
  <table id="cptl"></table>
</section>
<div id="test">
  
</div>

{% end %}